:root {
    --header-heigth: 82px;
    --footer-heigth: 30px;
    --main-heigth: calc(100vh - var(--header-heigth) - var(--footer-heigth));
    --players-heigth: 70px;
    --game-heigth: calc(var(--main-heigth) - var(--players-heigth));
}

html {
    font-family: "Lora";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.event-none {
    pointer-events: none !important;
}

.d-none {
    display: none !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.z-index-100 {
    z-index: 100 !important;
}

.color-failure {
    color: red;
}

.color-victory {
    color: green;
}

.color-draw {
    color: #8c5b0c;
}

#select-mode-screen,
#singleplayer-screen,
#multiplayer-screen {
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#select-mode-pop-up,
#singleplayer-pop-up,
#multiplayer-pop-up {
    background-color: #535b5b;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-radius: 10px;
    animation: pop-up-animation 225ms ease-in-out;
}

#btn-singleplayer,
#btn-multiplayer,
#btn-singleplayer-confirm,
#btn-multiplayer-confirm,
#singleplayer-input,
#player-X-input,
#player-O-input {
    width: 300px;
    height: 50px;
    font-size: 28px;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
}

#singleplayer-input,
#player-X-input,
#player-O-input {
    padding: 10px;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: flex;
    transition: all 225ms ease-in-out;
}

.back:hover {
    background-color: lightgray;
}

.back>img {
    width: 24px;
    height: 24px;
}

#main-content {
    width: 100%;
    height: var(--main-heigth);
    background-color: lightgray;
}

#main-content>div {
    display: flex;
    flex-direction: column;
}

#div-game {
    height: var(--game-heigth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

#btn-player-X,
#btn-player-O {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 70px;
    width: 100px;
    align-items: center;
    justify-content: space-around;
}

#main-footer {
    width: 100%;
    height: var(--footer-heigth);
    background-color: darkcyan;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 12px;
}

#select-mode-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#select-mode-pop-up {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    animation: pop-up-animation 225ms ease-in-out;
}

@keyframes pop-up-animation {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

#select-mode-headline {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

button {
    background-color: #ffd700;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 225ms ease-in-out;
}

#btn-singleplayer {
    background-image: linear-gradient(to bottom, #32cd32, #2eb82e);
}

button:hover {
    background-color: #e6b800;
    transform: scale(1.1);
}

#btn-singleplayer:hover {
    background-color: #2ba52b;
    transform: scale(1.1);
}

#multiplayer-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#multiplayer-pop-up {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#singleplayer-headline,
#player-X-headline,
#player-O-headline {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn-multiplayer-confirm {
    background-image: linear-gradient(to bottom, #ffd700, #ffb200);
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 28px;
    transition: all 225ms ease-in-out;
}

#btn-multiplayer-confirm:hover {
    background-color: #0056b3;
}

#main-header {
    background-color: #2c3e50;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    height: var(--header-heigth);
    position: relative;
}

#div-with-btn-restart {
    position: absolute;
}

#div-with-nav,
#nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#right-side-nav {
    display: flex;
    align-items: center;
}

#right-side-nav>div {
    position: relative;
}

#btn-select-mode {
    background-image: linear-gradient(to bottom, #ffb200, #242424);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#div-select-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    width: max-content;
    z-index: 20;
}

#div-select-mode button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

#div-select-mode button:nth-of-type(1) {
    background-image: linear-gradient(to bottom, #32cd32, #2eb82e);
}

#div-select-mode button:nth-of-type(2) {
    background-image: linear-gradient(to bottom, #ffd700, #ffb200);
}

#btn-restart {
    background-image: linear-gradient(to bottom, #ffb200, #8c5b0c);
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    z-index: 200;
    position: relative;
}

#div-players {
    height: var(--players-heigth);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

#div-player-X,
#div-player-O {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#results-X,
#results-O {
    position: absolute;
    top: 90px;
}

#btn-player-X,
#btn-player-O {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 70px;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 225ms ease-in-out;
}

#btn-player-X:hover,
#btn-player-O:hover {
    background-color: #34495e;
    transform: scale(1.1);
}

#name-player-X,
#name-player-O {
    font-size: 16px;
    width: 150px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 310px;
    background-color: #eee;
    background-color: black;
    position: relative;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    font-size: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#line {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: red;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
}

.rotate-90 {
    transform: rotate(90deg) !important;
    top: 50% !important;
}

.rotate-45 {
    transform: rotate(45deg) !important;
    transform-origin: top left !important;
    top: 14% !important;
    left: 16% !important;
}

.rotate--45 {
    transform: rotate(-45deg) !important;
    transform-origin: top right !important;
    top: 14% !important;
    left: -16% !important;
}

#win-screen,
#draw-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 190;
}

#win-pop-up,
#draw-pop-up {
    display: flex;
    flex-direction: column;
    color: #F3AF42;
    gap: 73px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: popUpAnimation 0.5s ease-in-out;
}

@keyframes popUpAnimation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#win-pop-up span,
#draw-pop-up span {
    font-size: 32px;
    font-weight: 700;
}

#win-player,
#draw-player {
    color: white;
}

#results-X,
#results-O {
    width: max-content;
    background-color: #f2f2f2;
    border-radius: 10px;
}

#results-X ul,
#results-O ul {
    list-style-type: none;
    padding: 0;
}

#results-X li,
#results-O li {
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    gap: 5px;
}

#results-X li::before,
#results-O li::before {
    content: "-";
    margin-right: 5px;
}