<header id="main-header">
    <div id="div-with-nav">
        <nav id="nav-menu">
            <div id="right-side-nav">
                <div>
                    <button id="btn-select-mode">Mode</button>
                    <div id="div-select-mode" class="d-none">
                        <button>Single Player</button>
                        <button>Multi Player</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="d-none" id="div-with-btn-restart">
        <button id="btn-restart">Restart</button>
    </div>
</header>