<main id="main-content">
    <div>

        <div id="div-players">
            <div id="div-player-1">
                <button id="btn-player-1">
                    <span>Player 1</span>
                    <span id="name-player-1">Georg</span>
                </button>
                <div id="sellect"></div>
            </div>
            <div id="div-player-2">
                <button id="btn-player-2">
                    <span>Player 2</span>
                    <span id="name-player-2">Max</span>
                </button>
                <div id="sellect"></div>
            </div>
        </div>

        <div id="div-game">
            <h1>Tic-Tac-Toe</h1>

            <div class="board">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
        </div>

    </div>
</main>