<main id="main-content">
    <div>

        <div id="div-players">
            <div id="div-player-X">
                <button class="opacity-1" id="btn-player-X">
                    <span>Player X</span>
                    <span id="name-player-X">Georg</span>
                </button>
                <div id="sellect"></div>
            </div>
            <div id="div-player-O">
                <button id="btn-player-O">
                    <span>Player O</span>
                    <span id="name-player-O">Max</span>
                </button>
                <div id="sellect"></div>
            </div>
        </div>

        <div id="div-game">
            <h1>Tic Tac Toe</h1>

            <div class="board">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div id="line"></div>
            </div>
        </div>

    </div>
</main>