<div id="multiplayer-screen" class="d-none">
    <div id="multiplayer-pop-up">
        <div>
            <label id="player-X-headline" for="player-X-input">Player-X Name:</label>
        </div>
        <div>
            <input id="player-X-input" type="text" required>
        </div>
        <div>
            <label id="player-O-headline" for="player-O-input">Player-O Name:</label>
        </div>
        <div>
            <input id="player-O-input" type="text" required>
        </div>
        <div>
            <button id="btn-multiplayer-confirm">OK</button>
        </div>
    </div>
    <div class="back">
        <img src="../src/img/close.png" alt="">
    </div>
</div>