<div id="multiplayer-window" class="d-none">
    <div id="multiplayer-pop-up">
        <div>
            <label id="player-1-headline" for="player-1-input">Player-1 Name:</label>
        </div>
        <div>
            <input id="player-1-input" type="text" required>
        </div>
        <div>
            <label id="player-2-headline" for="player-2-input">Player-2 Name:</label>
        </div>
        <div>
            <input id="player-2-input" type="text" required>
        </div>
        <div>
            <button id="btn-multiplayer-confirm">OK</button>
        </div>
    </div>
    <div class="back">
        <img src="../src/img/close.png" alt="">
    </div>
</div>